<div class="hero-unit">
	<h1>Our Food. Your Questions.</h1>
	<p>
		Canada asked. We've answered - thousands of questions about our food. Search them all. And if you don't find what you're looking for, ask yours. 
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary" %>
	</p>
</div>	